*{
    font-family: "Untitled Serif",Georgia,serif;
}
.recruit_section_1{
    display: flex;
    padding: 0rem 4rem 0rem 4rem;

}

.recruit_section_1_part_1{
    margin: 10rem 8rem 0rem 7rem;
}

.recruit_section_1_part_1_text{
    color: #008561;
    margin-top: 1rem;
    margin-bottom: 10px;
    font-size: 15px;
    margin-left: 0.5rem;
    /* line-height: 140%; */
}

.recruit_section_1_part_1_head{
    font-size: 3.8rem;
    line-height: 120%;
    letter-spacing: -.01em;
    color: #2e4c43;
}

.recruit_section_1_part_1_button{
    background-color: blue;
    color: white;
    border-radius: 25px;
    border: 1px solid #008561;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1;
    padding: 12px 10px ;
    min-height: 30px;
    cursor: pointer;
    margin: 2rem 0rem 0rem 0rem;
    text-decoration: none; 
}

.recruit_section_2{
    background-color: #f5f5f5
}

.recruit_section_2_head{
    font-size: 3rem;
    display: inline-block;
    line-height: 120%;
    letter-spacing: -.01em;
    color: #2e4c43;
    margin: 0rem 36rem 0rem 10rem;

}

.recruit_section_2_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    color: #2e4c43;
    margin: 0rem 15rem 0rem 15rem;;
}

.recruit_section_3{
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    margin: 1rem 0rem 0rem 0rem ;
}

.recruit_section_3_video{
    box-sizing: content-box;
    margin-left: 25rem;

}

.recruit_section_4_head{
    font-size: 3.8rem;
    line-height: 120%;
    letter-spacing: -.01em;
    margin: 30rem 0rem 0rem 10rem;
    color: #2e4c43;
}

.recruit_section_5, .recruit_section_6 ,.recruit_section_7 ,.recruit_section_8 ,.recruit_section_9 ,.recruit_section_10{
    display: flex;
}

.recruit_section_7:hover{
    background-color: #a4ddce;
}
.recruit_section_8{
    background-color: #a4ddce;
}

.recruit_section_8:hover ,.recruit_section_8_part_2:hover ,.recruit_section_8_part_2_head:hover ,.recruit_section_8_part_2_list:hover ,.recruit_section_8_part_2_text:hover{
    background-color: #15372c;
    color: #f5f5f5;
}
.recruit_section_9{
    background-color: #15372c;
}
.recruit_section_9_part_2_head, .recruit_section_8_part_2_head{
    color: #f5f5f5;
    font-size: 2.5rem;
    line-height: 120%;
    letter-spacing: -.01em;
    margin: 9rem 9rem 0rem 9rem;
}
.recruit_section_9_part_2_text, .recruit_section_8_part_2_text{
    color: #f5f5f5;
    margin-top: 3rem;
    margin-bottom: 10px;
    font-size: 1.3rem;
    margin: 1rem 9rem 0rem 9rem;
    line-height: 120%;
    padding: 2rem 0rem 0rem 0rem;
}
.recruit_section_9_part_2_list, .recruit_section_8_part_2_list{
    margin: 1rem 4rem 0rem 8rem;
    padding: 0rem 0rem 0rem 0rem;
    color: #f5f5f5;
}

.recruit_section_9:hover{
    background-color: #008561;
    color: white;
}

.recruit_section_10:hover{
    background-color:#a4ddce;
}


.recruit_section_5_part_2 , .recruit_section_6_part_2 ,.recruit_section_7_part_2 ,.recruit_section_8_part_2 ,.recruit_section_9_part_2 ,.recruit_section_10_part_2{
    margin-top: 5rem;
}

.recruit_section_5_part_2_head, .recruit_section_6_part_2_head ,.recruit_section_7_part_2_head ,.recruit_section_10_part_2_head{
    font-size: 2.5rem;
    line-height: 120%;
    letter-spacing: -.01em;
    margin: 9rem 9rem 0rem 9rem;
    color: #2e4c43;

}

.recruit_section_5_part_2_text, .recruit_section_6_part_2_text ,.recruit_section_7_part_2_text ,.recruit_section_10_part_2_text{
    color: #008561;
    margin-top: 3rem;
    margin-bottom: 10px;
    font-size: 1.3rem;
    margin: 1rem 9rem 0rem 9rem;
    line-height: 120%;
}
.recruit_section_9:hover, .recruit_section_9_part_2:hover, .recruit_section_9_part_2_head:hover, .recruit_section_9_part_2_text:hover, .recruit_section_9_part_2_list:hover{
    color: #f5f5f5;
}

.recruit_section_5_part_2_list , .recruit_section_6_part_2_list ,.recruit_section_7_part_2_list ,.recruit_section_10_part_2_list{
    margin: 0rem 4rem 0rem 8rem;
    color: #008561;
    padding: 1rem 0rem 0rem 0rem;
}
